footer{
    position:absolute;
    bottom:0;
    width: 100%;
    height: 60px;
    background-color: rgb(206, 160, 248);
    text-align: center;
    padding-top: 10px;
}




body{
    background-image: url('../resources/img/background-image.jpeg');
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
    position: absolute;

    /* z-index: -1; */
}



#mynav{
    background-color: rgb(206, 160, 248); 
    font-size: 17px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: gray;
    padding-bottom: 30px;
    margin-bottom: 10px;
    word-spacing: 10px;
    border-radius: 5px;
}

#icon{
    position: absolute; right: 5%; 
}

/*.grid-container{
    display:grid;
    grid-template-columns: 200px 200px 200px;
    row-gap: 20px;
    justify-content: space-evenly;
    text-align: center;
     display: flex;
    grid-gap: 150px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    
}*/



.c-item{
    height: 480px;

}

.c-img{
    height: 100%;
    object-fit: cover;
}


.carousel-indicators{
    background-color: rgba(45, 45, 45, 0.85);
  
}

.carousel-caption
{
    background-color: rgba(45, 45, 45, .85);
   
    
}

.carousel-text
{
    color: white;
    opacity: 1;
}


td{
    background-color: white;
}



/* animations */

/*self-desc text*/
@keyframes slideInLeft {
     from {
        transform: translateX(10px);
    }
    to {
        transform: translateX(-700px);
    }

    0%{ opacity: 1;}
    100%{opacity: 0;}
    80%{opacity: 0;} 
}
@keyframes fade-inout{
    0%{ opacity: 1;}
    100%{opacity: 0;} 
}

#self-desc{
     text-align: left;
     font-size: 20px;

    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

    transform: translateX(10px);


    z-index: 1;
    position: relative;
    color: black;
    opacity: 1;
}

/* self portrait */

@keyframes slideInRight{
    from{
        transform: translateX(50px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes mountainSlide{
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes slideInLeft{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}

#self-image
{
    z-index:2;
    position: relative;

    animation-name: slideInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

    transform: translateX(0px);
    
    opacity: 1;
}
 */ */

#intro_text{

color: rgb(54, 54, 234);


}


#sss{
    display:grid;
    padding: 0px 0px;
 
    grid-template-columns: 1% 40%;
    grid-gap: 40%;
    padding-bottom: 9%;

} 





.grid-item{
    text-align: left;
    padding: 20px;
    opacity: 1.0;
   
   
} 

#hobbies-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    justify-content: space-evenly;
    text-align: center;
     
    grid-gap: 4vw;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 10.3%;
    align-items: center; 
}

#hobby-card-1{
    border-style: solid;
    border-radius: 6px;
    border-color:#2a2a2a;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    background-color: rgb(208, 249, 235);

   
    z-index:1;
    position: relative;

    animation-name: mountainSlide;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

    transform: translateX(0px);
    
    opacity: 1;
    
}

#hobby-card-2{
    border-style: solid;
    border-radius: 6px;
    border-color:#2a2a2a;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    background-color: rgb(208, 249, 235);
    z-index: 2;
    
}

#hobby-card-3{
    border-style: solid;
    border-radius: 6px;
    border-color:#2a2a2a;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    background-color: rgb(208, 249, 235);

    z-index:0;
    position: relative;

    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:none;

    transform: translateX(0px);
    
    opacity: 1;
    
}